<div class="subscription_box well">
  <h3>
    <%= subscription.company.name %>
  </h3>
  <h3>
    <%= subscription.product %>
  </h3>
  <h3>
    <%= subscription.billing_value %>
  </h3>
  <h3>
    <%= subscription.billing_frequency %>
  </h3>
  <h3>
    <%= subscription.currency.base %>
  </h3>
  <h3>
    <%= subscription.contract_type %>
  </h3>
  <h3>
    <%= subscription.contract_start %>
  </h3>
  <h3>
    <%= subscription.contract_end %>
  </h3>
  <h3>
    <%= subscription.payment_method_type %>
  </h3>
  <h3>
    <%= subscription.payment_method_id %>
  </h3>
</div>