<h1>Payment Methods</h1>

<% if !@bank_details.empty? %>
  <h2>Direct Debit Details</h2>
  <ul>
    <% @bank_details.each do |bank| %>
      <li>
        <%= render 'bank_details', bank: bank %>
        <%= form_for @payment_method do |f| %>
          <%= f.hidden_field :payment_method_id, value: bank.id %>
          <%= f.hidden_field :payment_method_type, value: "Direct Debit" %>
          <%= f.submit "Select", formaction: "store" %>
        <% end %>
        <%# button_to "Select", action: "store", method: "post" %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if !@card_details.empty? %>
  <h2>Card Details</h2>
  <ul>
    <% @card_details.each do |card| %>
      <li>
        <%= render 'card_details', card: card %>
        <%# button_to "Select", action: "store", method: "post" %>      </li>
    <% end %>
  </ul>
<% end %>

<% if !@paypal_details.empty? %>
  <h2>PayPal Details</h2>
  <ul>
    <% @paypal_details.each do |paypal| %>
      <li>
        <%= render 'paypal_details', paypal: paypal %>
        <%# button_to "Select", action: "store", method: "post" %>
      </li>
    <% end %>
  </ul>
<% end %>
