<!DOCTYPE html>
<html>
  <head>
    <title>Mod2Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%if @current_user%>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Subscriptions
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Analytics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Calender</a>
        </li>
        <li class="nav-item">
          <%=link_to "profile", 
            { 
              action: @current_user_path, 
              controller: "users",
            },
            {
              method: "get",
              class: "nav-link"
            }  
             %>                                   
        </li>
        <li class="nav-item">
          <%=link_to "Log out", 
            { 
              action: "logout", 
              controller: "sessions",
            },
            {
              method: "delete",
              class: "nav-link"
            }
          %>
        </li>
      </ul>

    </div>
    </nav>
    <%end  %>  

    <div class="wrapper"><%= yield %></div>    
    
  </body>
</html>
